# Prisma engines mirror для РФ (китайское зеркало)
prisma_engines_mirror=https://registry.npmmirror.com/-/binary/prisma/
PRISMA_BINARIES_MIRROR=https://registry.npmmirror.com/-/binary/prisma/
PRISMA_ENGINES_MIRROR=https://registry.npmmirror.com/-/binary/prisma/
