# Prisma engines mirror для РФ (китайское зеркало)
prisma_engines_mirror=https://cdn.npmmirror.com/binaries/prisma
PRISMA_BINARIES_MIRROR=https://cdn.npmmirror.com/binaries/prisma
PRISMA_ENGINES_MIRROR=https://cdn.npmmirror.com/binaries/prisma
